* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    /* background-color: #FFAF3A; */
    height: 926px;
    width: 428px;
}

#nav {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;

}

#nav>img {
    margin-top: 58px;
    height: 56px;
    width: 113px;
}

h1 {
    margin-top: 46px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    height: 27px;
    width: 176px;
    margin-bottom: 10px;
}

#main {
    height: 80vh;
    width: 428px;
    left: 0px;
    top: 132px;
    background: #FFAF3A;
    border-radius: 20px 20px 0px 0px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;

}

#footer {
    height: 41px;
    width: 428px;
    background-color: white;
    display: flex;
    justify-content: center;
}